<div class="space-y-4">
  <h2 class="font-serif text:xl md:text-3xl uppercase font-bold mb-4 text-yellow-200">{{ title }}</h2>
  <ng-container *ngIf="(tasks$ | async) as tasks">
    <ng-container *ngIf="tasks.length > 0; else noResults">
      <app-task-card
        *ngFor="let task of tasks"
        [task]="task"
        (edit)="edit.emit(task)"
      />
    </ng-container>
  </ng-container>

  <ng-template #noResults>
    <div class="flex items-center justify-center bg-neutral-800">
      <img [src]="imgSrc" alt="Error del servidor" class="w-20 sm:w-46 h-auto" />
    </div>
  </ng-template>
</div>
