<div class="flex items-center justify-center w-full  sm:max-h-screen bg-transparent sm:px-4">
  <div class="flex flex-col w-full max-w-2xl bg-black p-6 sm:p-8 rounded-xl shadow">
    <h2 class="text-2xl font-bold text-yellow-200 mb-8">{{ isEditMode ? 'Editar Tarea' : 'Crear Tarea'}}</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div class='flex flex-col'>
        <label for="title" class="block text-sm font-medium text-yellow-400 mb-2">Título</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          class="w-full bg-black text-yellow-200 border border-yellow-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-1 focus:ring-yellow-300"
        />
        <div class="min-h-[2.5rem] mt-1">
          <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="text-orange-500 text-sm">
            El título es obligatorio.
          </div>
          <div *ngIf="taskForm.get('title')?.errors?.['minlength']" class="text-orange-500 text-sm">
            El título debe tener al menos 10 caracteres.
          </div>
        </div>
      </div>

      <div class='flex flex-col'>
        <label for="description" class="block text-sm font-medium text-yellow-300 mb-2">Descripción</label>
        <textarea
          id="description"
          rows="4"
          formControlName="description"
          class="w-full min-h-[8rem] bg-black  text-xs sm:text-sm text-yellow-200 border border-yellow-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-1 focus:ring-yellow-300 resize-y"
        ></textarea>
      </div>

      <div *ngIf="isEditMode" class="pt-4">
        <label class="block text-sm font-medium text-yellow-300 mb-2">Estado</label>
        <div class="flex gap-4 text-yellow-200">
          <label class="inline-flex items-center gap-2">
            <input
              type="radio"
              formControlName="completed"
              [value]="true"
              class="appearance-none w-4 h-4 border-2 border-yellow-400 rounded-full cursor-pointer checked:bg-yellow-400 checked:border-yellow-200 checked:ring-2 checked:ring-yellow-500"
            />
            Completada
          </label>
          <label class="inline-flex items-center gap-2">
            <input
              type="radio"
              formControlName="completed"
              [value]="false"
              class="appearance-none w-4 h-4 border-2 border-yellow-400 rounded-full cursor-pointer checked:bg-yellow-400 checked:border-yellow-200 checked:ring-2 checked:ring-yellow-500"
            />
            Pendiente
          </label>
        </div>
      </div>

      <div class="pt-4">
        <button
          type="submit"
          class="w-full bg-yellow-300 text-black font-semibold py-3 rounded-lg cursor-pointer hover:bg-yellow-500 transition disabled:opacity-50"
          [disabled]="taskForm.invalid"
        >
          {{ isEditMode ? 'Actualizar tarea' : 'Crear tarea' }}
        </button>
      </div>
    </form>
    <div *ngIf='isEditMode' class="pt-4">
      <button
        type="submit"
        class="w-full bg-yellow-300 text-black font-semibold py-3 rounded-lg cursor-pointer hover:bg-yellow-500 transition disabled:opacity-50"
        (click)="deleteTask()"
      >
        Eliminar tarea
      </button>
    </div>
  </div>
</div>
