<div class='flex flex-col h-screen bg-neutral-800'>
  <div   *ngIf="loading$ | async" class='flex flex-col min-h-screen'>
    <div class="relative min-h-screen z-50 bg-neutral-800 bg-opacity-70 flex flex-col items-center justify-center pointer-events-none">
      <div class="flex w-32 h-32 border-8 border-yellow-500 border-dashed rounded-full animate-spin"></div>
      <div class='flex text-yellow-200'>Cargando tareas</div>
    </div>
  </div>
  <div class='flex items-center justify-center w-full bg-neutral-800 p-4 sm:p-6'>
    <app-add-task-form
      class='mt-10 w-full max-w-2xl'
    ></app-add-task-form>
  </div>
</div>
