<div class='flex flex-col h-screen bg-neutral-800'>
  <div   *ngIf="(loading$ | async); else isNotLoading" class='flex items-center justify-center w-full bg-neutral-800 p-4 sm:p-6'>
      <app-skeleton-task-form
        class='mt-10 w-full max-w-2xl'
      ></app-skeleton-task-form>
  </div>
  <ng-template #isNotLoading >
    <div class='flex items-center justify-center w-full bg-neutral-800 p-4 sm:p-6'>
      <app-add-task-form
        class='mt-10 w-full max-w-2xl'
      ></app-add-task-form>
    </div>
  </ng-template>
</div>
